<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Online Shop</title>
        <link rel="stylesheet" href="/css/main.css"/>
    </head>

    <body>
        <nav class="nav">
            <ul class="nav-group">
                <li class="nav-item-row">
                    <a class="nav-item" href="/">Shop</a>
                </li>
                <li class="nav-item-row">
                    <a class="nav-item" href="/users">Users</a>
                </li>
            </ul>
        </nav>
        <div class="main-container">
            <h1>Prepare & beware!</h1>
            <h2>Protection weapon shop against aliens</h2>
            <h2>Page under construction</h2>
        </div>
    </body>
</html>

